{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="http://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymarks: Your bookmarks</title>
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
	<div class="navbar-header">
	  <a class="navbar-brand" href="http://www.anonymarks.net">Anonymarks</a>
	</div>
	<div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://static.anonymarks.net/about.html">About</a></li>
	    <li><a href="http://static.anonymarks.net/faq.html">FAQ</a></li>
            <li><a href="http://static.anonymarks.net/contact.html">Contact</a></li>
	  </ul>
	</div>
      </div>
    </div>

    <div class="container">

{% if not bookmarks %}
<p>Here's where I'd put your bookmarks. If you had any.</p>
{% else %}
  {% for name, url in bookmarks.items %}
    <p>
      <form method="post" action="/delete">
	{% csrf_token %}
	<input type="hidden" name="hash" value="{{ hash }}">
	<input type="hidden" name="name" value="{{ name }}">
	<input type="image" src="{% static 'img/delete.png' %}">
      </form>
      <a href="{{url}}" rel="nofollow">{{name}}</a></p>
  {% endfor %}
{% endif %}

<h2>Add a bookmark</h2>
<form method="post" action="/store">
  {% csrf_token %}
  <input type="hidden" name="hash" value="{{ hash }}">

  <div>Name: <input type="text" size="20" name="name"></div>
  <div>URL: <input type="text" size="80" name="url"></div>

  <div><input type="submit" name="submit" value="Submit"></div>
</form>

</div>
</body>
</html>
